.blog-container {
    .blog-title {
        h2 {
            font-size: 2em;
        }
    }

    .blog-content {
        padding: 10px;

        .blog-grid {

            .item-blog {
                border-radius   : 15px;
                background-color: white;
                color           : black;
                margin-top      : 30px;

                .item-title {
                    display      : flex;
                    border-bottom: 5px solid #282c34;
                    text-align   : left;
                    position     : relative;

                    .item-link {
                        margin-right: 5%;

                        a {
                            cursor: pointer;

                            &:link {
                                text-decoration: none;
                                color          : black
                            }

                            &:hover {
                                text-decoration: underline;
                            }

                            &:visited {
                                color: violet
                            }

                            &:active {
                                color          : red;
                                text-decoration: underline;
                            }
                        }
                    }

                    .item-delete {
                        position: absolute;
                        right   : 1%;
                        top     : 1%;
                        cursor  : pointer;
                    }
                }

                .item-body {
                    text-align: left;
                }
            }
        }

        .blog-loading,
        .blog-nodata {
            text-align: center;
            font-size : 20px;
            margin-top: 15%;
        }
    }
}