@keyframes bounce {
    from {
        transform: rotate(deg);
    }

    to {
        transform: rotate(360deg);
        z-index  : 2;
    }

    50% {
        transform: rotate(180deg);
        top      : 0;
        z-index  : 1;
    }
}

.bounce-number {
    width        : 2rem;
    height       : 6rem;
    position     : relative;
    margin-inline: 0.1rem;

    .bounce-back,
    .bounce-front {
        border          : 1px solid #282c34;
        top             : 3rem;
        position        : absolute;
        height          : 3rem;
        width           : 2rem;
        background-color: gray;
        display         : flex;
        justify-content : center;
        align-items     : center;
    }

    .bounce-back.bounce {
        animation: bounce forwards 500ms linear;
    }
}

.colon {
    margin-top: 3rem;
}

.bounce-number::-webkit-scrollbar {
    width: 0;
}