.slide-number {
    height       : 3rem;
    width        : 2rem;
    display      : flex;
    margin-inline: 0.1rem;
    overflow-x   : scroll;

    .slide-show,
    .slide-hide {
        height          : 3rem;
        width           : 2rem;
        display         : flex;
        justify-content : center;
        align-items     : center;
        background-color: gray;
        flex-shrink     : 0;
        flex-basis      : 100%;
    }

    .slide-hide {
        scale: 0.7;
    }

    .slide-show.slide {
        scale      : 0.7;
        margin-left: -2rem;
        transition : all 500ms linear;
    }

    .slide-hide.slide {
        scale     : 1;
        transition: all 500ms linear;
    }
}

.slide-number::-webkit-scrollbar {
    height: 0;
}